.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 60px;

  background-color: #061539;
  color: white;

  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

.logo {
  font-size: 32px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;

  font-size: 18px;
  font-weight: 500;

  transition: 0.3s;
}

.nav-links a:hover {
  color: #4da3ff;
}